* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
  background-color: #f1f3f5;
  padding: 50px;
  border: 1px solid grey;
  box-shadow: 0px 0px 8px 0px rgba(197, 75, 75, 0.49);
}

h2 {
  padding: 10px;
  font-weight: 700;
  margin-bottom: 12px;
}

p {
  line-height: 25px;
  font-style: normal;
  color: #868e96;
  margin-bottom: 20px;
}

ul,
li {
  list-style: none;
  margin-bottom: 25px;
  color: #495057;
}

li:last-child {
  margin-bottom: 35px;
}

.link {
  padding: 13px 10px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 5px;
  background-color: #1971c2;
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
  /* box-shadow: 0px 30px 45px 0px #bac8ff; */
}

.form {
  width: 96%;
  height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 35px;
  display: inline-block;
}

.buttorm {
  /* display: flex; */
  width: 320px;
  justify-content: space-between;
  position: relative;
}

a:link {
  background-color: #1971c2;
}
a:hover {
  background-color: #1971c2;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.27);
}
a:visited {
  background-color: #1971c2;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 255, 0.322);
}
a:active {
  background-color: #1971c2;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.322);
}

.icon {
  fill: #1971c2;
  width: 24px;
  height: 24px;
}

.lists {
  display: flex;
  gap: 10px;
  align-items: center;
}

footer {
  font-size: 12px;
  display: inline;
}
